/* Layout */
body {
  font-family: sans-serif;
  margin: 0;
  background: #f4f4f4;
}

/* Board-Container */
.board {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  box-sizing: border-box;
}

/* Columns To Do, In Bearbeitung, Erledigt */
.column {
  background: white;
  border-radius: 6px;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

/* Column Header */
.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.column-header h1 {
  font-size: 1.2rem;
  margin: 0;
}

/* Buttons */
.add-task {
  background: #007acc;
  border: none;
  color: white;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.add-task:hover {
  background: #005a99;
}

/* List of Tasks */
.task-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* single task */
.task {
  background: #fafafa;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
